.builder {
  /* background-color: var(--clr-darkBg); */
  color: var(--clr-light);
  margin-bottom: 20rem;
  /* transition: background-color 1s; */
}

.builder p {
  font-size: var(--fs-h5);
  opacity: 0.7;
}

.builder-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  /* padding-top: 80px; */
  margin-top: 0;
  margin-bottom: 10rem;
}

.builder1-parent {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 5rem; */
  /* border-bottom: 1px groove var(--clr-light); */
}

.builder1-child_container {
  max-width: 30em;
  align-self: flex-start;
}

.sticky {
  position: sticky;
  top: 170px;
}

.builder-last_p {
  margin-bottom: 13.5em;
}

.builder1-h3 {
  line-height: 1;
}

#builder1-h3_first {
  margin-top: 0;
}

.builder-img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.builder1,
.builder2,
.builder3 {
  width: 55em;
  border-radius: 15px;
}

.builder-spacing {
  margin-bottom: 20rem;
}

.builder-last_p {
  margin-bottom: 20rem;
}

.builder-cta_parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.builder-cta {
  /* letter-spacing: 10px; */
  text-transform: uppercase;
  margin: 0 1em 0 0;
  padding: 3em 0;
}

@media (max-width: 1730px) {
  .builder1,
  .builder2,
  .builder3 {
    width: 40em;
  }
}

@media (max-width: 1300px) {
  .builder {
    margin-bottom: 10rem;
  }

  .builder-title {
    margin-bottom: 5rem;
  }
}

@media (max-width: 1250px) {
  .builder {
    text-align: center;
  }

  .builder1-parent {
    flex-direction: column;
    justify-content: center;
  }

  .sticky {
    position: static;
  }

  #builder1-h3_first span {
    display: none;
  }

  #builder1-h3_first:after {
    content: 'Powerful Tools';
  }

  .builder1-child_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 100%;
    /* align-self: center; */
    margin-bottom: 5rem;
  }

  .builder1-child_container1 {
    margin-right: 5em;
  }

  .builder-last_p {
    margin-bottom: 5em;
  }

  .builder-spacing {
    margin-bottom: 5rem;
  }
}

@media (max-width: 600px) {
  .builder1,
  .builder2,
  .builder3 {
    width: 25em;
  }

  .builder1-child_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 5rem;
  }

  .builder1-child_container1 {
    margin-right: 0;
  }
}
