.landingInterstellar-child {
  /* width: 366px; */
  background-image: url(../../../images/light-logo_sm.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4.5em;
  user-select: none;
}

.landingInterstaller-hero {
  padding-top: 36px;
  /* border-top: 1px solid var(--clr-light); */
}

.circles {
  width: 366px;
  height: 366px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  top: 19%;
  right: 20%;
  width: 226px;
}

.circle2 {
  position: absolute;
  top: 15%;
  right: 15.7%;
  width: 256px;
}

.circle3 {
  position: absolute;
  top: 11%;
  right: 11.5%;
  width: 286px;
}

.circle4 {
  position: absolute;
  top: 8%;
  right: 9%;
  width: 306px;
}

.circle5 {
  position: absolute;
  top: 0;
  right: 0;
  width: 366px;
}

@media (max-width: 600px) {
  .landingInterstaller-hero {
    display: none;
  }
}
