.backgrounds {
  background-image: url('../../images/newstars.svg');
  background-repeat: repeat;
}

.bg-planet1 {
  position: absolute;
  top: -30em;
  right: 0;
  width: 70em;
  height: 70em;
  background-image: url('../../images/planet1.svg');
  background-repeat: no-repeat;
  background-position: left 49em bottom;
  background-size: 100% 100%;
  z-index: -1;
  opacity: 0.3;
}

.bg-gas {
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 150%;
  background-image: url('../../images/newgas.svg');
  background-repeat: no-repeat;
  background-position: left 75em bottom 15em;
  background-size: 100% 100%;
  z-index: -1;
  opacity: 0.2;
}

.bg-gas2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 150%;
  background-image: url('../../images/newgas2.svg');
  background-repeat: no-repeat;
  background-position: left bottom 45em;
  background-size: 100% 100%;
  z-index: -1;
  opacity: 0.2;
}

.bg-sm-planet {
  position: absolute;
  top: 52em;
  left: -9em;
  width: 20em;
  height: 20em;
  background-image: url('../../images/sm-planet.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 100%;
  z-index: 1;
  opacity: 0.6;
}

@media (max-width: 1250px) {
  .bg-sm-planet {
    width: 15em;
    height: 15em;
  }
}
