.backgrounds {
  background-image: url('../../images/newstars.svg');
  background-repeat: repeat;
}

.bg-planet1 {
  position: absolute;
  top: -30em;
  right: 0;
  width: 70em;
  height: 70em;
  background-image: url('../../images/planet1.svg');
  background-repeat: no-repeat;
  background-position: left 49em bottom;
  background-size: 100% 100%;
  z-index: -1;
  opacity: 0.3;
}

.bg-gas {
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 150%;
  background-image: url('../../images/newgas.svg');
  background-repeat: no-repeat;
  background-position: left 75em bottom 15em;
  background-size: 100% 100%;
  z-index: -1;
  opacity: 0.2;
}

.bg-gas2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 150%;
  background-image: url('../../images/newgas2.svg');
  background-repeat: no-repeat;
  background-position: left bottom 45em;
  background-size: 100% 100%;
  z-index: -1;
  opacity: 0.2;
}

.bg-sm-planet {
  position: absolute;
  top: 52em;
  left: -9em;
  width: 20em;
  height: 20em;
  background-image: url('../../images/sm-planet.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 100%;
  z-index: 1;
  opacity: 0.6;
}

.bg-footer-planet2 {
  position: absolute;
  top: 396em;
  left: 0;
  width: 20em;
  height: 20em;
  background-image: url('../../images/footer-planet2.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
  z-index: -1;
  opacity: 1;
}

@media (max-width: 1845px) {
  .bg-footer-planet2 {
    top: 392em;
  }
}

@media (max-width: 1810px) {
  .bg-footer-planet2 {
    top: 410em;
  }
}

@media (max-width: 1748px) {
  .bg-footer-planet2 {
    top: 404em;
  }
}

@media (max-width: 1730px) {
  .bg-footer-planet2 {
    top: 376em;
  }
}

@media (max-width: 1600px) {
  .bg-footer-planet2 {
    top: 369em;
  }
}

@media (max-width: 1569px) {
  .bg-footer-planet2 {
    top: 386em;
  }
}

@media (max-width: 1500px) {
  .bg-footer-planet2 {
    top: 390em;
  }
}

@media (max-width: 1350px) {
  .bg-footer-planet2 {
    top: 412em;
  }
}

@media (max-width: 1300px) {
  .bg-footer-planet2 {
    top: 405em;
  }
}

@media (max-width: 1250px) {
  .bg-footer-planet2 {
    top: 395em;
  }
}

@media (max-width: 1250px) {
  .bg-sm-planet {
    width: 15em;
    height: 15em;
  }
}

@media (max-width: 1024px) {
  .bg-footer-planet2 {
    top: 450em;
  }
}

@media (max-width: 720px) {
  .bg-footer-planet2 {
    top: 455em;
  }
}

@media (max-width: 600px) {
  .bg-footer-planet2 {
    top: 432em;
  }
}

@media (max-width: 565px) {
  .bg-footer-planet2 {
    top: 425em;
  }
}

@media (max-width: 521px) {
  .bg-footer-planet2 {
    top: 430em;
  }
}

@media (max-width: 475px) {
  .bg-footer-planet2 {
    top: 470em;
  }
}
