@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating-10 {
  -webkit-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
  -webkit-transform-box: fill-box;
  transform-box: fill-box;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.rotating-30 {
  -webkit-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
  -webkit-transform-box: fill-box;
  transform-box: fill-box;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.rotating-40 {
  -webkit-animation: rotating 40s linear infinite;
  -moz-animation: rotating 40s linear infinite;
  -ms-animation: rotating 40s linear infinite;
  -o-animation: rotating 40s linear infinite;
  animation: rotating 40s linear infinite;
}

.rotating-50 {
  -webkit-animation: rotating 50s linear infinite;
  -moz-animation: rotating 50s linear infinite;
  -ms-animation: rotating 50s linear infinite;
  -o-animation: rotating 50s linear infinite;
  animation: rotating 50s linear infinite;
}

.rotating-70 {
  -webkit-animation: rotating 70s linear infinite;
  -moz-animation: rotating 70s linear infinite;
  -ms-animation: rotating 70s linear infinite;
  -o-animation: rotating 70s linear infinite;
  animation: rotating 70s linear infinite;
}

.rotating-90 {
  -webkit-animation: rotating 90s linear infinite;
  -moz-animation: rotating 90s linear infinite;
  -ms-animation: rotating 90s linear infinite;
  -o-animation: rotating 90s linear infinite;
  animation: rotating 90s linear infinite;
}

.rotating-100 {
  -webkit-animation: rotating 100s linear infinite;
  animation: rotating 100s linear infinite;
  -webkit-transform-box: fill-box;
  transform-box: fill-box;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes rotating-negative {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes rotating-negative {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.rotating-negative {
  -webkit-animation: rotating-negative 100s linear infinite;
  animation: rotating-negative 100s linear infinite;
  -webkit-transform-box: fill-box;
  transform-box: fill-box;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.appear {
  -webkit-animation-name: appear;
  animation-name: appear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@keyframes alive {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -10px);
  }

  to {
    transform: translate(0, 0);
  }
}

.alive {
  -webkit-animation-name: alive;
  animation-name: alive;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
