.footer {
  width: 100%;
  background-color: var(--clr-darkBg);
  text-align: center;
  color: var(--clr-light);
}

.footer-logo {
  display: none;
  width: 5em;
  margin-top: 1.5em;
}

@media (max-width: 600px) {
  .footer-logo {
    display: inline-block;
  }
}

.footer-ul_container {
  display: flex;
  justify-content: center;
}

.footer-ul_menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-a_menu {
  font-weight: 700;
  font-size: var(--fs-h5);
  margin: 2em 1em 1em 1em;
  padding: 0;
  text-decoration: none;
  color: var(--clr-light);
  transition: all 0.3s;
}

.footer-legal_container {
  width: 20em;
  margin: 0 auto;
  border-bottom: 1px groove var(--clr-light);
}

.footer-legal_links {
  margin: 0 2em 1em 0;
  color: var(--clr-light);
  transition: all 0.3s;
  opacity: 0.5;
  font-size: var(--fs-h6);
}

.footer-legal_links:hover,
.footer-legal_links:focus {
  opacity: 1;
}

.footer-legal_links:last-child {
  margin-right: 0;
}

.footer-socials_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials_btn {
  color: var(--clr-light);
  font-size: var(--fs-body);
  margin: 0.5em;
  padding: 0.5em;
}

.footer-h5 {
  font-weight: 300;
}

.legal-container {
  padding-bottom: 1em;
}

.footer-platformpro {
  font-size: var(--fs-h5);
  letter-spacing: 3px;
  margin-bottom: 0.3em;
  font-weight: 700;
}

.copyright {
  margin: 0;
}

.copyright-text_container {
  opacity: 0.5;
}

.ramzi-container {
  opacity: 1;
}

.ramzi {
  color: var(--clr-light);
  text-decoration: none;
}

@media (max-width: 600px) {
  .footer {
    border-top: 1px solid rgba(238, 242, 246, 0.2);
  }
}

@media (max-width: 450px) {
  .footer-a_menu {
    margin: 2em 0.5em 0.5em 1em;
  }
}
